/* INTERNET EXPLORER */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  html {
    overflow-y: scroll;
    scroll-snap-type: none;
  }

  div.progress {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: none;
    padding: 20px 30px;
    margin: 30px 20px;
    width: 280px;
    background-color: white;
  }

  header .page {
    display: none;
  }

  section.s1:before {
    display: none;
  }

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  video {
    min-width: 100vw;
    min-height: 100vh;
  }

  .scroll-prompt-container {
    position: absolute;
    height: 80px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .scroll-prompt-container a {
    height: 80px;
    width: 80px;
    background-image: url(images/scroll-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 54px;
    transition: background-image ease-in-out .2s;
    transition: background-size 0s;
  }

  .scroll-prompt-container a:hover {
    background-image: url(images/scroll-icon-hover.svg);
  }

  section.s2 {
    background-color: #c5c5c5;
    display: table;
    height: 100%;
    width: 100%;
  }

  section.s2 * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

section.s3 {
  display: table;
  height: 100%;
  width: 100%;
}

  section.s3 div:first-of-type {
    display: none;
  }

  section.s3 div:last-of-type {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  section.s3 p {
    color: white;
  }

  section.s4 {
    display: table;
    height: 100%;
    width: 100%;
  }

  footer {
    background-color: #6A8869;
    display: table-cell;
    vertical-align: bottom;
  }

  .footer-content {
  	width: 100%;
    display: table;
  }

  .footer-content div {
    display: table-cell;
    width: auto;
    max-width: 400px;
    min-width: 300px;
    padding: 20px;
    border: 2px solid lightgray;
    border-collapse: collapse;
  }

  @media screen and (max-width: 1040px) {

    .footer-content div {
      display: block;
      border: none;
      max-width: 100%;
      min-width: 100%;
    }


}
