@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');

/* PAGE */
* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 1;
}

html {
  background-color: #333333;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  color: #333333;
  margin: 0;
}

@media not all and (min-resolution:.001dpcm) {
  @media {
    body {
      overflow-x: hidden;
      min-height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: mandatory;
      scroll-snap-type: y mandatory;
      scroll-snap-points-y: repeat(100vh);
      scroll-behavior: smooth;
    }
  }
}

header {
  z-index: 99;
  transition: color .15s;

  text-align: left;
  height: calc(100% - 40px);

  position: fixed;
  left: 30px;
  top: 30px;
}
header h1 {
  z-index: 10;
  padding: 0 10px;
  color: white;
  font-family: 'Noto Serif JP', serif;
  font-weight: 600;
  letter-spacing: 1px;
}
header .header-bottom {
  z-index: 10;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);

  position: fixed;
  bottom: 30px;
  height: 160px;
  width: 300px;
  padding-left: 30px;
}
header .header-line {
  z-index: 10;
  height: 0px;
  width: 80px;
  margin-top: 30px;
  border-top: 2px solid;
}
header .client  {
  z-index: 10;
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 22px;
  font-weight: 700;
}
header .page {
  z-index: 10;
  max-width: 246px;
}
header.white * {
  color: black;
}
header.white .header-bottom {
  background-color: lightgray;
}

.logo {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  margin: 20px;
  z-index: 4;
  width: 126px;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

nav {
  z-index: 2;
  position: fixed;
  width: 25px;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav a {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 0;
	transition: background-color .15s ease-in-out;
  border: 1px solid black;
}
nav a:hover {
	background-color: white;
}
nav a.selected {
  background-color: rgba(255, 255, 255, 0.9);
}

section {
  min-height: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
section.s1:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-top: 10px solid rgba(255, 255, 255, 0.5);
  width: 325px;

	display: none;
}
section.s1 {
  background-color: #333333;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
video {
  min-width: 100vw;
  min-height: 100vh;
}

.scroll-prompt-container {
  position: absolute;
  height: 80px;
  bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.scroll-prompt-container a {
  height: 80px;
  width: 80px;
  background-image: url(images/scroll-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 54px;
  transition: background-image ease-in-out .2s;
  transition: background-size 0s;
}
.scroll-prompt-container a:hover {
  background-image: url(images/scroll-icon-hover.svg);
}


section.s2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
section.s2 p {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  text-align: justify;
  padding: 20px;
}
section.s2 .about-columns {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;

}

section.s2 .about-columns div {
  background-color: ;
  width: 30%;
}
section.s2 .about-columns ul {
  padding-top: 0;
  margin-top: 2px;
  padding-left: 0;

}

section.s2 .about-columns ul li:first-child {
  border-top: 1px solid lightgray;
}


section.s2 .about-columns ul li {
  padding: 4px 0;
  border-bottom: 1px solid lightgray;
  list-style: none;
}


section.s3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color .75s ease-in-out;
}
.slideshow {
  width: 100%;
  display: block;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slideshow div {
  max-width: 100%;
	padding: 20px;
  position: absolute;
  overflow-y: hidden;
}
.slideshow div img {

  width: 820px;
  max-width: 100%;
	max-height: calc(100vh - 150px);

  height: 600px;
  object-fit: cover;
  background-color: #111111;
  background-color: white;
}
.slideshow div span {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	color: white;
	background-color: #111111;
	padding: 4px 8px;
	margin: 0;
}
.slideshow div span:after {
	content: '>';
}
.slideshow-img:first-child {
  z-index: 1;
}


section.s4 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 160px;
}
form {
  width: 820px;
  padding: 20px 20px 20px 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
form input {
  max-width: calc(50% - 10px);
  width: 100%;
  margin: 22px 0;
  color: white;
  opacity: 1;
  padding: 0;
  height: 40px;
  border: none;
  border-bottom: 2px solid;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;

  transition: none;
}
form input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
form input.file-input::-webkit-file-upload-button {
  visibility: hidden;
}
form input.file-input {
  padding: 0;
  padding-top: 6px;
}
form input.file-input::before {
  content: 'Select Files:';
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
form #submit {
  background-color: transparent;
  border: 2px solid;
  border-radius: 2px;
  padding: 0;
  transition: .2s background-color ease-in-out;
}
form #submit:hover {
  cursor: pointer;
  background-color: white;
  border-color: white;
  color: black;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;

	max-width: 100%;
  margin: 0;
  padding: 0 30px 0 0;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  bottom: 30px;
  height: 160px;
  width: 350px;
  color: white;
}

/* TEXT */
::selection {
  color: white;
  background: #353839;
}

h1,
h2,
h3,
p,
a,
li,
input {
  font-size: 18px;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-decoration: none;
  line-height: 1.45;
  font-weight: 400;
  color: inherit;

}

h1 {
  font-size: 22px;
  font-weight: 600;
}

header h1 {
  font-size: 26px;
  white-space: nowrap;
}

header * {
  line-height: 1.4;
}

h3 {
  font-weight: 600;
}

footer p {
  margin: 10px 0 0 0;
  font-size: 12px;
}

/* ANIMATIONS */
img {
  width: 100%;
  filter: grayscale(1) brightness(.25);
  transition: filter 2s;
}

img.fade {
  filter: grayscale(0) brightness(1);
}

video {
  filter: grayscale(1) brightness(.65);
  transition: filter 3s;
}

video.fade {
  filter: grayscale(0) brightness(1);
}

.miscfade {
  background-color: lightgray;
  transition: background-color 1.2s ease-in-out;
}

.miscfade.fade {
  background-color: white;
}

/* MOBILE */
@media screen and (max-width: 1400px), (max-height: 600px) {
  * {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  @media not all and (min-resolution:.001dpcm) {
    @media {
      body {
        overflow-x: hidden;
        min-height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: none;
        scroll-behavior: smooth;
      }
    }
  }

  header {
    width: 100vw;
    height: 80px;
    padding: 0;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);

    border-bottom: 2px solid;
  }

  header,
  header h1 {
    color: black !important;
  }

  header h1 {
    padding: 20px;
    margin: 0;
  }

  header .header-bottom {
    width: 100%;
    background-color: transparent;
    top: 0;
    right: 0;
    height: 80px;
    padding: 10px;
  }

  header .header-line {
    display: none;
  }
  header .client  {
    padding: 0;
    text-align: right;
    margin-top: 2px;
    margin-bottom: -4px;
  }
  header .page {
    text-align: right;
    max-width: 100%;
  }

  header.white * {
    color: black;
  }
  header.white .header-bottom {
    background-color: transparent;
  }


  nav {
    display: none;
  }

  section.s1:before {
    border-top: 0;
  }

  .scroll-prompt-container {
    bottom: 6px;
  }

  section.s2 p {
    margin-top: 80px;
  }

	.slideshow {
	  margin-top: 80px;
	}

  .form-container {
    margin-top: 90px;
    align-items: center;
  }

  form input {
    max-width: 100%;
    margin: 12px 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  	width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    position: relative;
    bottom: 0;
    height: 110px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
  }

  footer p {
    width: 100%;
    text-align: center;
    margin-bottom: -4px;
  }

  footer .address-break {
    display: none;
  }

  h1,
  h2,
  h3,
  p,
  a,
  li,
  input,
  form * {
    font-size: 15px
  }
}

@media screen and (max-width: 700px) {
  html {
    overflow-x: hidden;
  }

  header {
    height: 46px;
  }

  header .header-bottom {
    width: 100%;
    padding: 10px;
  }

  header h1 {
    font-size: 16px;
    white-space: nowrap;
    margin-top: 0;
    padding-top: 12px;
  }

  header .header-line {
    display: none;
  }
  header .client {
    margin-top: 4px;
    font-size: 14px;
  }
  header .page {
    display: none;
  }


    section.s2 p {
      margin-top: 46px;
    }

    .slideshow {
      margin-top: 46px;
    }

  .slideshow div img {
    object-fit: cover;
  }

  h1,
  h2,
  h3,
  p,
  a,
  li,
  input {
    font-size: 12px;
  }

  h1 {
    font-size: 16px;
  }

  h3 {
    font-size: 12px;
  }

  .form-container {
    margin-top: 46px;
  }

  footer {
    height: 76px;
    padding-top: 20px;
  }

  footer p {
    margin: 4px 0 0 0;
    font-size: 10px;
  }


}
