@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* PAGE */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  background-color: #333333;
  -webkit-text-size-adjust: 100%;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-decoration: none;
  line-height: 1.45;
  font-family: 'Arimo', sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
}

@media not all and (min-resolution:.001dpcm) {
  @media {
    body {
      overflow-x: hidden;
      min-height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: mandatory;
      scroll-snap-type: y mandatory;
      scroll-snap-points-y: repeat(100vh);
      scroll-behavior: smooth;
    }
  }
}

header {
  z-index: 99;
  position: fixed;
  left: 2rem;
  top: 1.5rem;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: 700;
  transition: color .15s;
}

header span {
  font-weight: 400;
}

header.white {
  color: black;
}

nav {
  z-index: 2;
  position: fixed;
  width: .83rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav a {
  width: .83rem;
  height: .83rem;
  background-color: #BCBEBC;
  border-radius: 50%;
  transition: background-color .15s ease-in-out;
}

nav a:hover,
nav a.selected {
  background-color: lightgray;
}

section {
  min-height: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 0 1rem;
}

section.s1 {
  padding: 0;
}

.background-video {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('/images/poster.png');
}

video {
  min-width: 100vw;
  min-height: 100vh;
}

.scroll-prompt-container {
  position: absolute;
  height: 2.7rem;
  bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.scroll-prompt-container a {
  height: 2.7rem;
  width: 2.7rem;
  background-image: url(/images/scroll-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.7rem;
  transition: background-image ease-in-out .2s;
  transition: background-size 0s;
}

.scroll-prompt-container a:hover {
  background-image: url(/images/scroll-icon-hover.svg);
}

section.s2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: .5rem;
}

section.s2 .main-about-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
}

section.s2 div {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

section.s2 button {
  margin: 3rem auto;
  background-color: black;
  color: white;
  padding: .5rem 1rem;
  display: block;
  border: none;
}

section.s2 button:hover {
  background-color: #333333;
  color: white;
  cursor: pointer;
}

section.s2 .about-columns-wrapper {
  position: absolute;
  z-index: 999;
  min-width: 100vw;
  min-height: 100vh;
  top: 100vh;
  left: 0;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  display: none;
}

section.s2 button.close-button {
  margin: 0 auto;
  display: block;
  background-color: #1E1E1E;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 400;
  color: white;
  height: 3.5rem;
  width: 3.5rem;
  background-image: url(/images/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.5rem;
  transition: background-image ease-in-out .2s;
  transition: background-size 0s;
  margin-top: -9rem;
}

section.s2 button.close-button:hover {
  background-image: url(/images/close-button-hover.svg);
}

section.s2 .about-columns-wrapper .container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 60vw;
}

section.s2 .about-columns-wrapper .container div {
  width: 33.33%;
  margin: 0;
  padding: 0 2rem;
  color: white;
}

section.s2 .about-columns-wrapper .container div:nth-child(2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

footer {
  display: flex;
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid;
  color: black;
  padding-top: .5rem;
}


section.s3 {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.s3 div {
  position: absolute;
  width: 80vw;
  height: 80vh;
  padding: 2rem;
  padding-top: 5.2rem;
}

section.s3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

section.s3 span:after {
  content: '';
  height: 2.5rem;
  width: 4rem;
  background-image: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  position: absolute;
  right: 1.5rem;
  top: 0;
}

section.s3 div span {
  margin: 0 auto;
  transform: translateY(1.5rem);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 2rem;
  background-color: white;
  width: 80vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

section.s3 img:hover,
section.s3 span:hover {
  cursor: pointer;
}

section.s3 div span ::selection {
  color: black;
  background: transparent;
}

.slideshow-img:first-child {
  z-index: 1;
}

section.s4 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 50rem;
  padding: 1rem 0;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form input {
  max-width: calc(50% - 10px);
  width: 100%;
  margin: 22px 0;
  color: white;
  opacity: 1;
  padding: 0;
  height: 40px;
  border: none;
  border-bottom: 2px solid;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
  transition: none;
}

form input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

form input.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

form input.file-input {
  padding: 0;
  padding-top: 6px;
}

form input.file-input::before {
  content: 'Choose File';
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

form input#message {
  min-width: 100%;
}

form input#submit {
  background-color: transparent;
  border: 2px solid;
  border-radius: 2px;
  padding: 0;
  transition: .2s background-color ease-in-out;
  max-width: 25%;
}

form #submit:hover {
  cursor: pointer;
  background-color: white;
  border-color: white;
  color: black;
}

/* TEXT */
::selection {
  color: white;
  background: #353839;
}

header {
  font-size: 1.5rem;
  white-space: nowrap;
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

h3 {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0;
  margin-bottom: .1rem;
  text-transform: uppercase;
}

.container p {
  font-size: 0.75rem;
  margin-top: 0;
  padding-top: 0;
}

footer a,
footer p {
  white-space: nowrap;
  font-size: 12px;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

footer p:last-of-type {
  text-align: right;
}



/* ANIMATIONS */
/*img {
  filter: grayscale(1) brightness(.25);
  transition: filter 2s;
}


img.fade {
  filter: grayscale(0) brightness(1);
}
*/
video {
  filter: grayscale(1) brightness(.65);
  transition: filter 3s;
}

video.fade {
  filter: grayscale(0) brightness(1);
}

.miscfade {
  background-color: #CCD2D6;
  transition: background-color 1.2s ease-in-out;
}

.miscfade.fade {
  background-color: white;
}

/* MOBILE */
@media screen and (max-width: 70rem) {
  header {
    width: 100%;
    left: 0;
    padding: 0 1rem;
  }

  header div {
    width: 50rem;
    max-width: 100%;
    margin: 0 auto;
  }

  nav {
    display: none;
  }
}

@media screen and (max-width: 50rem) {
  * {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  @media not all and (min-resolution:.001dpcm) {
    @media {
      body {
        overflow-x: hidden;
        min-height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: none;
        scroll-behavior: smooth;
      }
    }
  }

  p {
    text-align: justify;
  }

  header {
    top: 1rem;
  }

  section.s2 .main-about-content {
    flex-grow: 0;
    margin-top: 4rem;
  }

  section.s2 .about-columns-wrapper .container {
    padding-top: 3rem;
    flex-direction: column;
  }

  section.s2 .about-columns-wrapper .container div {
    width: 100%;
    min-height: 100%;
    padding: 1rem;
  }

  section.s2 .about-columns-wrapper .container div:nth-child(2) {
    border: none;
  }

  section.s2 button.close-button {
    margin-top: 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  footer p {
    text-align: center;
    padding: .5rem 0;
  }

  footer p:last-of-type {
    text-align: center;
    padding-top: 0;
  }

  section.s3 div {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 5rem);
    padding: 2rem;
  }

  section.s3 div span {
    width: 100vw;
  }

  section.s3 span:after {
    right: 1.4rem;
  }

  .form-container {
    margin-top: 90px;
    align-items: center;
    padding: 0 1rem;
  }

  form input {
    max-width: 100%;
    margin: 12px 0;
  }

  h1,
  h2,
  h3,
  p,
  a,
  button,
  input,
  form * {
    font-size: 15px
  }
}

@media screen and (max-height: 22rem) {
  section.s2,
  section.s3,
  section.s4 {
    display: none;
  }


  .background-video {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  video {
    width: 100vw;
    position: fixed;
  }

  .scroll-prompt-container {
    display: none;
  }


}




















section.s5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: .5rem;
}

section.s5 .main-about-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.s5 div {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

section.s5 .container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}

section.s5 .container div {
  width: 15.66rem;
  margin: 0;
  padding: 0;
}

section.s5 .container div:nth-of-type(1){
  padding-right: 2rem;
}

section.s5 .container div:nth-of-type(2){
  width: 17.66rem;
  border-right: 1px solid;
  border-left: 1px solid;
  padding: 0 2rem;

}

section.s5 .container div:nth-of-type(3){
  padding-left: 2rem;
}
